html {
  margin: 0px;
  padding: 0px;
  font-family: "Quicksand", sans-serif;
}
body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
canvas {
  margin: 0px;
  padding: 0px;
  border: 1px solid black;
}
p {
  justify-content: center;
  text-align: center;
  font-size: 80%;
}

form {
  line-height: 200%;
  justify-content: center;
  text-align: center;
}

input {
  font-family: "Quicksand", sans-serif;
  border-radius: 5px;
}
